<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test.dao.UserDao">

	<resultMap id="BaseResultMap" type="test.entity.UserPo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, NAME, PWD
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user_test
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from user_test
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="ID" parameterType="test.entity.UserPo">
		insert into user_test (ID, NAME, PWD
		)
		values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
		#{pwd,jdbcType=VARCHAR}
		)
	</insert>
	
	<insert id="insertSelective" parameterType="test.entity.UserPo">
		<selectKey resultType="java.lang.String" keyProperty="id"
			order="BEFORE">
			select 1 from dual
		</selectKey>
		insert into user_test
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID,
			<if test="name != null">
				NAME,
			</if>
			<if test="pwd != null">
				PWD,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{id,jdbcType=VARCHAR},
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				#{pwd,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="test.entity.UserPo">
		update user_test
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				PWD = #{pwd,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="test.entity.UserPo">
		update user_test
		set NAME = #{name,jdbcType=VARCHAR},
		PWD = #{pwd,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<select id="getALL" resultMap="BaseResultMap">
		SELECT * FROM user_test
	</select>
</mapper>